*{
    font-family: "Syne Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-shadow:
        0 0 5px #000000,
        0 0 10px #f89898,
        0 0 15px #620000,
        0 0 20px #ffffff;
  }
  
.my-container{
    height: 100vh;
    width: 100vw;
}
li{
    line-height: 250%;
}
.show {
    display: list-item;
  }